body {
  background-color: #ffffff;
  color: #626262;
  font-family: 'Playfair Display', serif;
}
.site-nav .link1 {
  color: #03a9f3;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.site-nav .link2 {
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.hero .classification {
  font-size: 14px;
  color: #b4ad9e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.hero .classification {
    font-size: 14px;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
  }
.hero .title {
  font-size: 30px;
  color: #626262;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.hero .description {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.site-nav .link1:hover,
.site-nav .link1:focus {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #212121;
}
.hero .button {
font-size: 20px;
line-height: 24px;
color: #626262;
font-family: "Playfair Display";
font-weight: 400;
}